{% extends "layout.html" %} 
{% block content %}
    <h1>Q&A</h1>
    <article class="media content-section">
        <div class="media-body">
            <div>
                <h2 class="article-title">What can you do in the site?</h2>
                <p class="article-content">You can create/delete accounts and create and delete posts.</p>
            </div>
            <div>
                <h2 class="article-title">What do you need to create an account?</h2>
                <p class="article-content">All you need is an email address.</p>
            </div>
            <div>
                <h2 class="article-title">Can you change your account info?</h2>
                <p class="article-content">Yes, you can change your username, password and profile picture.</p>
                <p class="article-content">When you first create an account you will be given a default image.</p>
            </div>
        </div>
    </article>
{% endblock content%}